<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <style>
        #content{list-style-type:none;margin:0;padding:0;height:200px;overflow-y:auto;}
    </style>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">欢迎加入群聊</h3>
    </div>
    <div class="panel-body">
        <span id="status">连接中请稍后...</span>
        <div id="content"></div>
        <div class="input-group">
            <input type="text" id="input" class="form-control"/>
            <div class="input-group-btn">
                <button class="btn btn-default dropdown-toggle" id="submit">发送</button>
            </div>
        </div>
    </div>
</div>
<!--<script src="/javascripts/chat/socket.io.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/chat/chat.js"></script>
<script>
//    var socket = io();
//
////    //打开页面出现消息
////    socket.on('news', function (data) {
////        socket.emit('my first event',  'data' );
////        $('#messages').append($('<li>').text(data));
////    });
//
//    //按发送键发送消息
//    $('form').submit(function(){
//        socket.emit('chat message', $('#m').val());
//        $('#m').val('');
//        return false;
//    });
//    socket.on('chat message', function(msg){
//        $('#messages').append($('<li>').text(msg));
//    });


</script>
</body>
</html>